body {
    font-family: sans-serif;
    background-image:linear-gradient(Lime,DodgerBlue, MediumBlue );
}
header a {
    text-decoration: none;
    border: 2px solid navy;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    color: white;
    background-color: navy;
    font-size: 25px;
}
h1{
    color: navy;
    text-align: center;
}

ul {
    list-style: "💀";
    font-size: 23px;
    color: navy;
  }
